.top-section{
    display: flex;
}
.left-section{
    background-color: lightblue;
    width: 100px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.item{
    background-color: black;
    color: white;
}
.right-section{
    background-color: lightpink;
    width: 200px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
