.textbox-d{
    font-size: 16px;
    font-family: Arial;
    padding-left: 4px;
    width: 140px;
    margin-right: 8px;
}
.google{
    text-align: center;
    width: 600px;
    margin-top: 30px;
    margin-bottom: 30px;
    margin-left: 20px;
    margin-right: 20px;
}
.google-logo{
    width: 300px;
    display: inline-block;
}
.google-search{
    display: inline-block;
    border: none;
    background-color: lightgray;
    margin-right: 4px;
    margin-top: 30px;
    font-family: 'Roboto';
    font-size: 14px;
    padding-top: 8px;
    padding-bottom: 6px;
    padding-right: 16px;
    padding-left: 16px;
    cursor: pointer;
}
.lucky-button{
    display: inline-block;
    border: none;
    background-color: lightgray;
    margin-left: 4px;
    margin-top: 30px;
    font-family: 'Roboto';
    font-size: 14px;
    padding-top: 8px;
    padding-bottom: 6px;
    padding-right: 16px;
    padding-left: 16px;
    cursor: pointer;
}
.textbox-e{
    font-size: 16px;
    font-family: 'Roboto', sans-serif;
    border: none;
    width: 500px;
    padding-top: 12px;
    padding-bottom: 12px;
    padding-right: 15px;
    padding-left: 15px;
    cursor: text;
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.25);
    border-radius: 22px;
    display: inline-block;
}
.email{
    font-family: 'Roboto';
    margin-bottom: 2px;
    font-size: 12px;
}
.textbox-f{
    width: 300px;
    margin-bottom:2px;
}
.condition{
    font-family: 'Roboto';
    font-size: 12px;
    margin-top: 6px;
}
.agree-button{
    background-color: rgb(0, 120, 180);
    border: none;
    color: white;
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 8px;
    padding-bottom: 8px;
    border-radius: 20px;
}
.twitter{
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.25);
    border-radius: 6px;
    margin-top: 20px;
    padding-top: 6px;
    padding-bottom: 6px;
    padding-left: 8px;
    padding-right: 16px;
    display: inline-block;
}
.opthumbnail{
    vertical-align: middle;
    width: 50px;
    height: 50px;
    border-radius: 60px;
    object-fit: cover;
}
.textbox-g{
    vertical-align: middle;
    border: none;
    font-family: 'Roboto';
    font-size: 16px;
    border: none;
    padding-left: 6px;
    width: 250px;
}
.tweet-button{
    vertical-align: middle;
    background-color: rgb(0, 119, 181);
    border: none;
    color: white;
    font-size: 16px;
    border-radius: 12px;
    padding-top: 6px;
    padding-bottom: 6px;
    padding-right: 12px;
    padding-left: 12px;
    font-weight: 530;
}
