.recommended{
    font-family:'Segoe UI', sans-serif;
    margin-left: 16px;
    margin-top: 12px;
    display: inline-block;
    box-shadow: 0 1px 5px rgba(0,0,0,0.25);
}
p{
    margin-top: 0px;
    margin-bottom:0px;
}
.thumbnail-1{
    width: 300px;
    height: 300px;
    object-fit: cover;
}
.name{
    margin-top: 6px;
    font-size: 28px;
    font-weight: bold;
    padding-left: 8px;
}
.profile-picture{
    width:30px;
    height: 30px;
    border-radius: 20px;
    display: inline-block;
    vertical-align: top;
    padding-left: 8px;
    object-fit: cover;
}
.mutual{
    color: lightslategray;
    font-size: 20px;
    padding-left: 4px;
    margin-bottom: 12px;
    display: inline-block;
    vertical-align: top;
}
.add-button{
    background-color: royalblue;
    border: none;
    color: white;
    font-size: 24px;
    border-radius: 6px;
    padding-left: 10px;
    padding-right: 10px;
    padding-top:6px;
    padding-bottom: 6px;
    margin-left: 8px;
    margin-bottom: 12px;
    display: block;
}