.body{
    font-family:Verdana, Tahoma, sans-serif;
}
.input-name1{
    font-size: 30px;
    font-family:Verdana, Tahoma, sans-serif;
    width: 300px;
    margin-bottom:12px;
    margin-right: 6px;
}
.input-name2{
    font-size: 30px;
    font-family:Verdana, Tahoma, sans-serif;
    width: 300px;
    margin-bottom: 12px;
}
.input-email{
    font-size: 30px;
    font-family: Verdana, Tahoma, sans-serif;
    display: block;
    width: 618px;
    margin-bottom: 12px;
}
.sign-button{
    width: 626px;
    font-size: 34px;
    font-weight: 500;
    background-color: rgb(55, 103, 206);
    border: none;
    color: white;
    padding-top: 12px;
    padding-bottom: 12px;
    border-radius: 12px;;
}