*{
    margin: 0;
    padding: 0;
}
body{
    font-family: 'Noto Sans', 'Arial', sans-serif;
}
.section-counter{
    display: flex;
    flex-direction: row;
    background-color: rgba(71, 137, 192, 1);
    color: white;
    align-items: center;
    justify-content: space-around;
    height: 15vh;
}
.establishment-year{
    display: flex;
    align-items: center;
    gap: 10px;
}
.members-count{
    display: flex;
    align-items: center;
    gap: 10px;
}
.event-count{
    display: flex;
    align-items: center;
    gap: 10px;
}
.increasing-number{
    font-size: 24px;
}
.section-title{
    font-size: 20px;
}
.membership-container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-image: url(http://drive.google.com/uc?export=view&id=1NfWKHRMrdhuFJPlu18TybdZhAsNOa8K2);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    width: 100%;
    height: 60vh;
    margin: 0;
}
.membership-content{
    display: inline-block;
    width: 80%;
    color: rgba(255, 255, 255, 0.80);
    text-align: center;
    background-color: rgba(0, 0, 0, 0.41);
    border-radius: 15px;
    padding: 20px 20px 20px 20px;
    margin-top: 10px;
    font-weight: 400;
    font-size: 18px;
}
.membership-button{
    border-style: none;
    font-size: 22px;
    font-weight: 500;
    color: rgba(255, 255, 255, 0.80);
    background-color: rgba(0, 0, 0, 0.41);
    padding: 10px 16px 10px 16px;
    border-radius: 8px;
    margin-top: 10px;
    transition: all 0.5s;
    cursor: pointer;
}
.membership-button:hover{
    background-color: rgba(71, 137, 192, 1);
    
}
.footer-container{
    width: 100%;
    height: 400px;
    background-color: rgba(71, 137, 192, 1);
    color: white;
    padding-top:30px;
    border-top: 1px solid rgba(71, 137, 192, 1);
}
.footer-top{
    display: flex;
    flex-flow: row wrap;
    padding-bottom: 20px;
}
.footer-info{
    width: 360px;
    padding-left: 80px;
}
.footer-logo{
    /* width: 8vw; */
    display: grid;
    grid-template-columns: 7vw 7vw;
    align-items: center;
}
.footer-about{
    width: 320px;
    font-size: 16px;
    font-weight:400;
}
.footer-acm-logo{
    width: 7vw;
}
.footer-acmw-logo{
    width: 7vw;
}
.footer-social{
    padding: 4px 4px 4px 4px;
    margin-top: 8px;
    margin-bottom: 8px;
}
.footer-social a{
    color: white;
    text-decoration: none;
    padding: 4px 4px 4px 4px;
    margin-top: 8px;
    margin-bottom: 8px;
}
.sitemap-container{
    padding-left: 80px;
    padding-top: 20px;
}
.footer-sitemap{
    display: flex;
    flex-direction: row;
    gap: 80px;
    width: 360px;
    margin-top: 30px;
}
.footer-sitemap li{
    list-style: none;
}
.footer-sitemap a{
    color: white;
    text-decoration: none;
    font-weight: 300;
}
.sitemap-left, .sitemap-right{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 60px;
}
.footer-contact{
    width: 360px;
    padding-top: 20px;
}
.footer-heading{
    font-weight: 500;
    font-size: 20px;
}
.footer-detail-container{
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.footer-address{
    width: 300px;
}
.footer-mail{
    display: flex;
    align-items: center;
    gap: 8px;
}
.footer-phone{
    display: flex;
    align-items: center;
    gap: 8px;
}
.footer-direction{
    display: flex;
    align-items: center;
    gap: 8px;
}
.footer-bottom-border{
    width: 94%;
    text-align: center;
    margin: auto;
}
.footer-bottom{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 20px;
}
